---
import { Image } from 'astro:assets'
export interface Product {
  name: string
  href?: string
  image: string
  alt_text: string
  model: string
}

export interface Props {
  products: Array<Product>
}

const { products } = Astro.props
const obj2query = (obj: Product) =>
  '?' +
  Object.entries(obj)
    .map(([k, v]) => `${k}=${Array.isArray(v) ? v[0] : v}`)
    .join('&')
---

<div class='bg-white'>
  <div
    class='max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8'
  >
    <h2 class='sr-only'>Products</h2>

    <div
      class='grid grid-cols-1 gap-y-10 sm:grid-cols-2 gap-x-6 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8'
    >
      {
        products.map((p: Product) => (
          <a href={p.href + obj2query(p) || '#'} class='group product-thumb'>
            <div class='w-full aspect-square bg-gray-200 rounded-lg overflow-hidden xl:aspect-[7/8]'>
              <Image
                src={p.image}
                alt={p.alt_text}
                width='80'
                height='100'
                class='w-full h-full object-center object-cover group-hover:opacity-75'
              />
            </div>
            <h3 class='mt-4 text-xs text-gray-700 lowercase'>{p.model}</h3>
            {p.model && (
              <p class='mt-1 text-lg font-medium text-gray-900 capitalize'>
                {p.name}
              </p>
            )}
          </a>
        ))
      }
    </div>
  </div>
</div>

<script></script>
