---
import { Image } from 'astro:assets'

const walink = 'https://wa.me/+919193497273'
export interface Props {
  title: string
  subtitle: string
  views?: number
  details: string
  size: string
  price?: number
  images: Array<string>
  color?: string
}

const {
  title = 'Brand Name',
  subtitle = 'The Catcher in the type',
  views = 4,
  details = 'lorem ipsum dolor sit amet',
  size = '100x100',
  images = ['https://dummyimage.com/400x400'],
  color = null,
} = Astro.props
---

<section class='text-gray-600 body-font overflow-hidden'>
  <div class='container px-5 py-24 mx-auto'>
    <div class='lg:w-4/5 mx-auto flex flex-wrap'>
      <Image
        alt='ecommerce'
        class='lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded'
        src={images[0]}
        height='100'
        width='100'
      />
      <div class='lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0'>
        <h2 class='text-sm title-font text-gray-500 tracking-widest capitalize'>
          {subtitle}
        </h2>
        <h1 class='text-gray-900 text-3xl title-font font-medium mb-1'>
          {title}
        </h1>
        <div class='flex mb-4'>
          <span class='flex items-center'>
            {
              Array(5)
                .fill(0)
                .map((_) => (
                  <span class='w-4 h-4 text-indigo-400 i-mdi:star block' />
                ))
            }

            <span class='text-gray-600 ml-3'>{views} Reviews</span>
          </span>
          <span
            class='flex ml-3 pl-3 py-2 border-l-2 border-gray-200 space-x-2s'
          >
            <a class='text-gray-500' href={walink}>
              <span class='w-6 h-6 i-mdi:facebook block'></span>
            </a>
            <a class='text-gray-500'>
              <span class='w-6 h-6 i-mdi:whatsapp block' href={walink}></span>
            </a>
            <a class='text-gray-500'>
              <span class='w-6 h-6 i-mdi:chat block' href={walink}></span>
            </a>
          </span>
        </div>
        <p class='leading-relaxed' set:html={details} />
        <div
          class='flex mt-6 items-center pb-5 border-b-2 border-gray-100 mb-5'
        >
          {
            color && (
              <div class='flex'>
                <span class='mr-3'>Color</span>
                <button class='border-2 border-gray-300 rounded-full w-6 h-6 focus:outline-none' />
                <button class='border-2 border-gray-300 ml-1 bg-gray-700 rounded-full w-6 h-6 focus:outline-none' />
                <button class='border-2 border-gray-300 ml-1 bg-indigo-500 rounded-full w-6 h-6 focus:outline-none' />
              </div>
            )
          }
          <div class='flex ml-6 items-center'>
            <span class='mr-3'>Size:</span>
            <div class='relative'>
              <span
                class='rounded border appearance-none border-gray-300 py-2 focus:outline-none focus:ring-2 focus:ring-indigo-200 focus:border-indigo-500 text-base pl-3 pr-10'
              >
                {size}
              </span>
               =
            </div>
          </div>
        </div>
        <div class='flex'>
          <span class='title-font font-medium text-2xl text-gray-900'>
            <!-- $58.00 -->
          </span>
          <a href={walink}>
          <button
            class='flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded'
            > Buy </button
          ></a>
          <button
            class='rounded-full w-10 h-10 bg-gray-200 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-4'
          >
            <span class='w-6 h-6 i-mdi:heart'></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
